In [30]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor, export_graphviz
from sklearn.metrics import accuracy_score

In [3]:
df = [pd.read_csv('../data/private/csv/fam/august.csv'), 
      pd.read_csv('../data/private/csv/fam/september.csv'), 
      pd.read_csv('../data/private/csv/fam/october.csv')]
df = pd.concat(df, sort=False)
df.head()

,time,sysclass,lat,lon,dir,vel,size,ttyyyxx1,ttyyyxx2,ttyyyxx3,...,maxz,meanvil,ttvil,meanprec,maxprec,year,month,day,hour,minute
0,0.0,0.0,-2.47,-61.05,-999.0,0.0,641.0,0.0,0.0,0.0,...,51.62,1.54,985.28,12.48,162.18,2014,8,1,0,0
1,0.2,2.0,-2.51,-61.15,0.0,22.2,493.0,0.0,0.0,0.0,...,49.64,1.00,491.62,8.71,118.85,2014,8,1,0,0
2,0.4,2.0,-2.43,-61.11,270.0,33.3,519.0,0.0,0.0,0.0,...,56.55,1.21,630.50,9.48,350.60,2014,8,1,0,0
3,0.6,3.0,-2.45,-61.09,243.0,24.8,556.0,0.0,0.0,0.0,...,54.00,1.00,556.31,6.41,235.26,2014,8,1,0,0
4,0.8,2.0,-2.37,-61.05,270.0,55.5,711.0,0.0,0.0,0.0,...,46.78,0.79,561.39,4.30,75.94,2014,8,1,0,0

In [5]:
df.columns

Index(['time', 'sysclass', 'lat', 'lon', 'dir', 'vel', 'size', 'ttyyyxx1',
       'ttyyyxx2', 'ttyyyxx3', 'ttyyyxx4', 'ttyyyxx5', 'riverfrac', 'convfrac',
       'strafrac', 'meanz', 'maxz', 'meanvil', 'ttvil', 'meanprec', 'maxprec',
       'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

In [11]:
columns = ['ttyyyxx3', 'riverfrac', 'convfrac', 'strafrac', \
           'meanz', 'maxz', 'meanvil', 'ttvil', 'meanprec', 'maxprec']
filtered = df[columns]
filteredexport_graphviz.describe()

,ttyyyxx3,riverfrac,convfrac,strafrac,meanz,maxz,meanvil,ttvil,meanprec,maxprec
count,53160.000000,53160.000000,53160.000000,53160.00000,53160.000000,53160.000000,53160.00000,53160.000000,53160.000000,53160.000000
mean,2.838826,10.813383,46.657889,53.34211,28.745101,37.000910,1.00003,166.146277,6.435744,40.374742
std,26.510414,19.098081,28.253100,28.25310,5.438200,9.024301,0.88283,619.212811,7.269876,59.300988
min,0.000000,0.000000,0.000000,0.00000,20.530000,20.530000,0.15000,1.640000,0.810000,0.880000
25%,0.000000,0.000000,25.710000,34.01750,23.670000,29.090000,0.38000,10.510000,1.860000,4.800000
50%,0.000000,0.000000,38.240000,61.76000,28.170000,36.920000,0.70000,27.415000,3.870000,16.250000
75%,0.000000,13.640000,65.982500,74.29000,32.980000,44.460000,1.32000,88.685000,8.610000,52.870000
max,1493.000000,100.000000,100.000000,100.00000,57.460000,63.220000,29.68000,13637.050000,419.750000,996.970000

In [16]:
features.count()

riverfrac    53160
convfrac     53160
strafrac     53160
meanz        53160
maxz         53160
meanvil      53160
ttvil        53160
meanprec     53160
maxprec      53160
dtype: int64

In [15]:
labels.count()

ttyyyxx3    53160
dtype: int64

In [135]:
def dt_regression(df):
    features =  df[['riverfrac', 'convfrac', 'strafrac', \
               'meanz', 'maxz', 'meanvil', 'ttvil', 'meanprec', 'maxprec']]
    labels = df[['ttyyyxx3']]

    X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=.2)
    dtr = DecisionTreeRegressor(criterion='entropy', max_depth=10).fit(X_train, y_train)

    y_pred = dtr.predict(X_test)

    x = X_test['ttvil'].values
    y = y_test['ttyyyxx3'].values
    x2 = X_test['ttvil'].values
    y2 = y_pred
    print('Acuraccy %s', explained_variance_score(y_test, y_pred))

    plt.figure(figsize=(17, 8))
    plt.scatter(x, y)
    plt.plot(x2, y2)
    
    return dtr

In [74]:
from sklearn.metrics import explained_variance_score
    
y_pred = dtr.predict(X_test)
explained_variance_score(y_test, y_pred)

0.12286840202373372

In [65]:
dotfile = open('DecisionTreeRegressor.dot', 'w')
export_graphviz(dtr, out_file=dotfile, feature_names=features.columns)
dotfile.close()

In [89]:
no = filtered[filtered['ttyyyxx3'] == 0]
yes = filtered[filtered['ttyyyxx3'] > 0]

In [136]:
size = 100
nog = no.sample(size)
yesg = yes.sample(size)
modrl = dt_regression(pd.concat([nog, yesg], sort=False))

KeyError: 'entropy'

In [134]:
modrl.feature_importances_

array([2.61422081e-02, 1.78767380e-03, 1.15073578e-02, 9.35200744e-02,
       4.94713199e-04, 1.30508031e-02, 7.31537220e-02, 2.37205957e-04,
       7.80106242e-01])