In [12]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
PATH = '../data/full/output_v2/'

In [163]:
def load_datasets(filenames):
    """Read one or more files as dataframe.
    filenames list: filenames
    """
    filenames = [os.path.join(PATH, filename) for filename in filenames]
    filenames = sorted(filenames)
    df = []
    for file in filenames:
        month, day, hour, minute = file[-12:-10], file[-10:-8], \
        file[-8:-6], file[-6:-4]
        temp = pd.read_csv(file, sep='\s+')
        temp['month'], temp['day'], temp['hour'], temp['minute'] = month, \
        day, hour, minute
        
        df.append(temp)
    
    df = pd.concat(df, sort=False)
    df = df.rename(str.lower, axis='columns')

    return df

In [164]:
df = load_datasets(filenames)
df.head()

,time,sysclass,lat,lon,dir,vel,size,ttyyyxx1,ttyyyxx2,ttyyyxx3,...,meanz,maxz,meanvil,ttvil,meanprec,maxprec,month,day,hour,minute
0,0.0,0.0,-1.73,-60.57,-999.0,0.0,53.0,0.0,0.0,0.0,...,22.28,26.70,0.29,15.37,1.18,3.18,02,01,00,00
1,0.2,1.0,-1.73,-60.55,90.0,11.1,21.0,0.0,0.0,0.0,...,20.53,21.46,0.23,4.91,0.92,1.03,02,01,00,00
2,0.4,1.0,-1.77,-60.53,153.0,24.8,18.0,0.0,0.0,0.0,...,22.28,24.83,0.24,4.24,1.15,2.35,02,01,00,00
0,0.0,0.0,-1.99,-60.93,-999.0,0.0,180.0,0.0,0.0,0.0,...,23.67,28.80,0.41,73.93,1.60,4.52,03,01,00,00
1,0.2,1.0,-2.07,-60.87,143.0,55.5,123.0,0.0,0.0,0.0,...,24.83,31.51,0.46,56.63,2.17,6.97,03,01,00,00

In [171]:
df1 = df[df['month'] == '02']
df2 = df[df['month'] == '03']
df3 = df[df['month'] == '08']
df4 = df[df['month'] == '09']
df5 = df[df['month'] == '10']
# df1.to_csv('fam_february.csv', sep=',', index=False)
# df2.to_csv('fam_march.csv', sep=',', index=False)
# df3.to_csv('fam_august.csv', sep=',', index=False)
# df4.to_csv('fam_september.csv', sep=',', index=False)
# df5.to_csv('fam_october.csv', sep=',', index=False)
# df.to_csv('fam_total.csv', sep=',', index=False)

In [179]:
lat, lon = [], []
df1[(df1['day'] == '01') & ()]['maxprec']

178.86